/* General Section */

* {
    box-sizing: border-box;
  }

  body {
    background-color: #e3f7db;
    font-family: 'Raleway', sans-serif;
  }

/* Header Section */


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    height: 15%;
    margin: 0px;
    color: #2f5f1b;
    background-color: white;
    z-index: 10;
  }
  
  .header h1{
    display: inline;
    margin: 30px;
    
  }
  
  img {
  
    width: 80px;
    height: 80px;
    border-radius: 50%;   
  }
  
  ul {
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 5px;
  }
  
  li {
  display: inline;
  margin: 30px;
  }
  
  li a {
  text-decoration: none;
  color: #2f5f1b;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 5px;
  transition: color 0.3s;
  }
  
  li a:hover {
  cursor: pointer;
  color: #EBBC90;
  }
  
  li a:active {
  text-decoration: underline;
  }
  
  .banner {
      background-image: url(./Resources/img/title-background.jpeg);
      display: block;
      width: 100%;
      height: 70%;
      position: absolute;
      text-align: center;
      color:#2f5f1b;
  }
  
  .banner h1 {
    border: 1px solid rgb(8, 0, 255);
    text-align: center;
    position: relative;
    margin: 0px;
    padding: 200px;
    top: 119px;
    background-image: url(./Resources/img/title-background.jpeg);
    color: #2f5f1b;
  }

  
  


/* Color Section */



/* Fonts Section */


/* Typography Section */


/* Footer Section */

