/* General Section */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }

  body {
    background-color: #e3f7db;
    font-family: 'Raleway', sans-serif;
  }

  p {
    color: #565454;
  }

  h1, h2 {
    color: #2f5f1b;
  }

  h1 {font-family: 'Quicksand';}

  h2 {font-family: 'Montserrat';}

  h3 {font-family: 'Montserrat'; color: #366895;}
/* Header Section */

img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-left: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: #2f5f1b;
  position: fixed;
  width: 100%;
  height: 15%;
  align-items: center;
  z-index: 100;
}

ul { 
  display: flexbox;
  width: 400px;
}

li {
  display: inline;
  margin: 2%;
}

li a {
  text-decoration: none;
  color: #2f5f1b;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 5px;
  transition: color 0.3s;
  }
  
  li a:hover {
  cursor: pointer;
  color: #EBBC90;
  }
  
  li a:active {
  text-decoration: underline;
  }



.header h1 {
  display: inline;
  position: relative;
  bottom: 30px;
}

.banner {
 
  position: relative;
  margin: 0px;
  padding: 200px;
  top: 119px;
  background-image: url(./Resources/img/title-background.jpeg);
}

.banner h1 {
 
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0px;
  color: #2f5f1b;
  font-size: 50px;
}

.main {
  position: relative;
  top: 119px;
}


/* Color Section */

.Colors {
  position: relative;
  background-color: #e3f7db;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.color-element {
  text-align: center;
  width: 150px;
}

#color {
  text-align: center;
  padding: 50px;
  text-decoration: underline;
  color: #2f5f1b;
  background-color: #e3f7db;
  font-size: 30px;
}

#mint-ice-cream {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #e3f7db;
  margin-left: auto;
  margin-right: auto;
}

#blue-crepuscolo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #366895;
  margin-left: auto;
  margin-right: auto;
}

#sand {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #ffe599;
  margin-left: auto;
  margin-right: auto;
}

#pine-green {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #2f5f1b;
  margin-left: auto;
  margin-right: auto;
}

#gray-wolf {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #565454;
  margin-left: auto;
  margin-right: auto;
}



/* Fonts Section */

#fonts-section {
  background-color: #ffe599;
}

#fonts {
  background-color: #ffe599;
  text-align: center;
  padding: 50px;
  text-decoration: underline;
  color: #2f5f1b;
  font-size: 30px;
}

.Fonts {
  position: relative;
  padding: 50px;
  background-color: #ffe599;
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
 
}

.font-element {
  padding: 10px;
}

.font-element h3{
  text-align: center;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

#raleway {font-family: 'raleway';}
#quicksand {font-family: 'quicksand';}
#montserrat {font-family: 'montserrat';}
#roboto-mono {font-family: 'roboto-mono';}



/* Typography Section */

.Typography {
  position: relative;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

#typography {
  text-align: center;
  padding: 50px;
  text-decoration: underline;
  color: #2f5f1b;
  font-size: 30px;
}

.code-snippet {
  font-family: 'roboto-mono';
  text-align: justify;
  background-color: #ffe599;
  padding: 15px;
  border-radius: 5px;
}



/* Footer Section */

footer {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 50px;
  top: 200px; 
}